nest_asyncio
asyncio
telethon==1.37.0
telegram==0.0.1
python-telegram-bot
python-dotenv
requests
httpx
python-telegram-bot[webhooks]
Flask
telegram 
requests
aiohttp
pyngrok
python-telegram-bot
python-telegram-bot[webhooks]
flask
flask[async]

urllib3
